.classes__page {
    max-width: 580px;
    margin: 0 auto;
}

.classes__text {
    width: 263px;
    height: 127px;
    margin: 0 auto;
}

.classes__subtitle {
    font-family: "Bitter Rose", sans-serif;
    font-weight: 400;
    font-size: 64px;    
    line-height: 45px;
    color: #FACE8D;
}

.classes__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 8px;
}

.classes__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px; 
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.classes__content {
    background-image: url("../img/classes_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    text-align: center;
}

.classes__navbar {
    width: 520px;
    max-height: 68px;
    left: 0px;
    bottom: 20px;
}

.classes__subtitle-item {
    padding-top: 320px;
}

.classes__content-asian {
    background-image: url("../img/classes01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    text-align: center;
}

.classes__content-vegan {
    background-image: url("../img/classes02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    text-align: center;
    position: relative;
}

.classes__sticker {
    position: absolute;
    display: block;
    border-radius: 500px;
    padding: 16px 24px;
    width: 90px;
    height: 90px;
    background-color: #f8d49e;
    color: #081212;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px; 
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    top: 180px;
    left: 55px;
}

.classes__content-italian {
    background-image: url("../img/classes03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    text-align: center;
}

.classes__content-honey {
    background-image: url("../img/classes04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    text-align: center;
}

/* Swiper */
.swiper-button-prev, 
.swiper-button-next {
    color: #fff;
}

/* Media */
@media screen and (max-width: 586px) {
    .classes__navbar {
        width: 290px;
    }

    .classes__navbar-btn {
        width: 100px;
        height: 12px;
    }
}

@media screen and (max-width: 375px) {
    .classes__navbar {
        width: 235px;
    }
}