.menu__page {
    display: flex;
    justify-content: center;
    gap: 96px;
    
}

/* Cover */
.menu {
    background-image: url("../img/menu_bg.jpg");
}

/* Main */
.content {
    position: relative;
}

.menu__content {
    max-width: 840px;
    margin-right: 105px;
}

.menu__content-items {
    max-width: 504px;
    min-height: 74px;
    padding: 24px 32px;
    margin: 0 auto;
    margin-bottom: 80px;
    margin-right: 105px;
}

.menu__content-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

.menu__content-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-muted);
}

.menu__content-item:visited,
.menu__content-item:hover,
.menu__content-item:active {
    color: var(--text-primary);
}

.menu__cards-items {
    margin-bottom: 96px;
}

.menu__cards-title {
    font-family: "Bitter Rose", sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 45px;
    color: var(--text-primary);
    margin-bottom: 32px;
}

.menu__cards-item {
    max-width: 638px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    padding-left: 16px;
}

.menu__cards-content {
    display: flex;
}

.menu__cards-img {
    margin-right: 24px;
}

.menu__cards-subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.menu__cards-prise {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    padding-right: 24px;
}

.line {
    text-decoration: line-through;
    color: var(--text-muted);
    padding: 0;
}

.menu__cards-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-muted);
}

.prise__items {
    display: flex;
    gap: 8px;
    padding-bottom: 30px;    
}

.menu__cards-starter {
    position: relative;
    border: 1px solid var(--text-primary);
    border-radius: 16px;
    max-width: 638px;
    min-height: 104px;
}

.menu__starter {
    position: absolute;
    border-radius: 6px;
    padding: 8px 12px;
    width: 148px;
    height: 36px;
    background-color: var(--background-primary);    
    color: var(--text-inverse);
    right: 20px;
    top: -20px;
}

.menu__starter-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* Media */
@media screen and (max-width: 1600px) {
    .menu__page {
        flex-direction: column;
        gap: 20px;
        align-items: center;;
    }

    .menu__content {
        margin-right: 0;
    }
    
    .menu__content-items {
        margin-bottom: 50px;
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .menu__content-items {
        margin-right: 10px;
    }

    .menu__cards-items {
        margin-bottom: 70px;
    }
    
    .menu__cards-content {
        flex-direction: column;
    }

    .menu__cards-img {
        align-self: self-start;
    }

    .menu__cards-text {
        margin-bottom: 10px;
    }

    .menu__cards-starter {
        padding-top: 10px;
    }
}

@media screen and (max-width: 586px) {
    .menu__content-list {
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    .menu__cards-items {
        padding: 0 20px;
    }
}

@media screen and (max-width: 375px) {
    .menu__cards-subtitle {
        font-size: 18px;
    }
    
    .menu__cards-prise {
        font-size: 16px;
    }
    
    .menu__cards-description {
        font-size: 14px;
        line-height: 20px;
    }

    .menu__starter {
        padding: 8px 10px;
        width: 128px;
        height: 36px;
    }

    .menu__starter-description {
        font-size: 12px;
    }
}



