.reservation__page {
    display: flex;
    justify-content: center;
    gap: 140px;

}

/* Cover */
.reservation {
    background-image: url("../img/reservation_bg.jpg");
}

/* Form */
.reservation__content {
    max-width: 840px;
    margin-bottom: 130px;
}

.reservation__content-text {
    max-width: 560px;
    min-height: 120px;
    margin-top: 96px;
    margin-bottom: 48px;
    margin-right: 140px;
}

.reservation__content-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px;
}

.reservation__content-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.reservation__form {
    max-width: 560px;
}

.reservation__label {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.reservation__label-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.reservation__data-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.reservation__input {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 16px 24px;
    width: 560px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 48px;
    background-color: #050505;
    color: #FFFFFF;
}

.reservation__input-data {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 16px 24px;
    width: 264px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    background-color: #050505;
    color: #FFFFFF;
}

.reservation__label-data {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 48px;
}

.reservation__date {
    display: flex;
    flex-direction: column;
}

.reservation__time {
    display: flex;
    flex-direction: column;
}

.reservation__button {
    display: block;
    width: 560px;
    height: 60px;
    border-radius: 500px;
    padding: 16px 24px;
    background-color: #F8D49E;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #081212;
    transition-property: background-color, transform;
    transition-duration: 0.3s, 0.1s;
    transition-timing-function: ease-in-out;
}

.reservation__button:hover {
    background-color: #dab378;
}

.reservation__button:active {
    transform: scale(0.9);
}

/* Media */
@media screen and (max-width: 1600px) {
    .reservation__page {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .reservation__content-text {
        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {
    .reservation__content {
        text-align: center;
    }

    .reservation__label {
        align-items: center;
    }

    .reservation__input {
        width: 360px;
        height: 60px;
    }

    .reservation__input-data {
        width: 164px;
        height: 60px;
    }

    .reservation__label-data {
        justify-content: center;
        gap: 10px;
    }

    .reservation__button {
        margin: 0 auto;
        width: 360px;
        height: 60px;
    }
}

@media screen and (max-width: 480px) {
    .reservation__input {
        width: 260px;
        height: 60px;
    }

    .reservation__input-data {
        width: 124px;
        height: 60px;
    }

    .reservation__button {
        width: 260px;
        height: 60px;
    }
}